* {
	padding: 0;
	margin: 0;
}
body{
	background-image: linear-gradient(white, #facd8a);
	height: 1000px;
}
.wholepage{
	margin: 0 auto;
	margin-top: 90px;
	width: 700px;
	height: 580px;
	border: 2px black;
	border-radius: 10px;
	box-shadow: 2px 3.5px 3.5px 2px black;
	background: white;
}
.header{
	height: 120px;
	padding-top: 20px;
	border-bottom: 2px solid orange;
	width: 90%;
	margin-left: 28px;
	margin-bottom: 21px;
}
.headerleft{
	width: 50px;
	float: left;
}
.headerright{
	width: 600px;
	float: left;
	padding-top: 20px;
}
.firstline{
	font-size: 40px;
	color: orange;
	text-shadow: 1.5px 1.5px black;
	padding-left: 40px;
}
.secondline{
	font-size: 20px;
	color: green;
	font-style: italic;
	padding-left: 40px;
}
.lastline{
	float:right;
}
ul{
	margin-left: 60px;
}
.section{
	line-height: 150%;
	width: 91%;
	margin-left: 30px;
}
.footer{
	border-top: 2px solid orange;
	width: 91%;
	height: 65px;
	margin-left: 25px;
	padding-top: 10px
}